{% extends 'base.html' %}
{% block title %}
    <h2>Delete the result for the {{result.test}}</h2>
{% endblock %}
{% block main %}
<div class="delete">
   <form method="POST">
       {% csrf_token %}
     <input type="submit" value="Delete">
       <a class="cancel_button" href="{% url 'tests:list' %}">Cancel</a>
   </form>
</div>
{% endblock %}