{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="{% static 'quiz/css/style.css' %}" rel="stylesheet" />
    <title>Quiz11</title>
</head>
<body>
<section class="header">
    <div class="container menu__container header-menu">
        <div class="menu">
            <a href="/" class="menu__logo"><img src="{% static 'quiz/img/logo.png' %}" alt="logo"></a>
            <ul class="menu__list">
                <li class="menu__item"><a href="{% url 'tests:list' %}">Quiz</a></li>
                <li class="menu__item"><a href="{% url 'tests:rating' %}">Rating</a></li>
                {% if user.is_authenticated %}
                <li class="menu__item"><a href="{% url 'accounts:profile' %}"><img src="{{ user.image.url }}" alt="" width="40px">Profile  {{ user.username }}</a></li>
                <li class="menu__item"><a href="{% url 'accounts:logout' %}">Logout</a></li>
                {% else %}
                <li class="menu__item"><a href="{% url 'accounts:login' %}">Sign in</a></li>
                <li class="menu__item"><a href="{% url 'accounts:registration' %}">Sign up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</section>
<section class="container">
    {% include 'includes/messages.html' %}
    {% block title%}
    {% endblock %}
    {% block main%}
    {% endblock %}
</section>
</body>
</html>